.App {
  font-family: sans-serif;
  
}

.folder__div {
  margin-bottom: 5px;
}

.folder__name {
  margin-right: 2rem;
  cursor: pointer;
}

.folder__button-style {
  margin-right: 1rem;
}

.input__div {
  margin-right: 2rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}