.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row1, .row2, .row3 {
  display: flex;
}

.boxes {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}